.home {
    display: flex;
    flex-direction: column;

}

.home-title{
    display: flex;
    justify-content: center;
}


.home h2 {
    text-align: center;
    border-bottom: 5px solid purple;
    /* width: 1200px; */
    /* color: purple; */
    font-size: 70px;
    font-weight: 700;
    /* // https://blog.logrocket.com/css-header-styles-cross-browser-compatibility/ */
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;

    /* -webkit-background-clip: text; */



}

.home .home-body{
    min-height: 600px;
    background-image: url("../../public/img/paw-background.jpg");   
    /* background-repeat: no-repeat;
    background-size: cover;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
   

}

.home .home-body img{
    border-radius: 50%;
    height: 500px;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    margin-bottom: 20px;
    margin-top: 20px;

}


.home .img-flex{
    display: flex;
}

.home i {
    margin-left: 5px;
    font-size: 20px;
    text-align: center;
}


.home {

}



/* From Uiverse.io by Subaashbala */ 
.home .button-catalog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em 1em 1em;
    background-color: yellow;
    cursor: pointer;
    box-shadow: 4px 6px 0px black;
    border: 4px solid;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    z-index: 100;
    transition: box-shadow 250ms, transform 250ms, filter 50ms;
    height: 100px;
    width: 300px;
    margin: 40px;
    text-decoration: none;
    color: black;
    text-align: center;

 
  }
  .home .button-catalog:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 3px 0px black;
  }
  .home .button-catalog:active {
    filter: saturate(0.75);
  }
  .home .button-catalog::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #cdc1eb;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 250ms;
  }
  .home .button-catalog:hover::after {
    transform: translateX(0);
  }
  .home .button-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    max-width: 30.5%; /* adjust this if the button text is not proper */
    font-size: 2em;
    font-weight: 600;
  }
  .home .button-container span {
    position: relative;
    transform: translateX(-100%);
    transition: all 250ms;
    font-size: 18px;
  }
  .home .button-catalog:hover .bgContainer > span {
    transform: translateX(0);
  }
  .home .arrowContainer {
    padding: 1em;
    margin-inline-end: 1em;
    border: 4px solid;
    border-radius: 50%;
    background-color: #cdc1eb;
    position: relative;
    overflow: hidden;
    transition: transform 250ms, background-color 250ms;
    z-index: 100;
  }
  .home .arrowContainer::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: yellow;
    transform: translateX(-100%);
    z-index: -1;
    transition: transform 250ms ease-in-out;
  }
  .home .button-catalog:hover .arrowContainer::after {
    transform: translateX(0);
  }
  .home .button-catalog:hover .arrowContainer {
    transform: translateX(5px);
  }
  .home .button-catalog:active .arrowContainer {
    transform: translateX(8px);
  }
 
  