
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

/*#region*/

/*#endregion*/

/*#region global*/
.navbar a {
    text-decoration: none;
}

/*#endregion*/


.navbar {

    background-color: darkcyan;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 4px;
    font-family: "Raleway";
    min-height: 100px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
  
}

.navbar .logo {
    text-transform: uppercase;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 28px;
    font-weight: 300;
    /* cursor: pointer; */
}

.navbar .logo span {
    color: #e78533;
    font-weight: 600;
}


