.product {
    background-color: rgb(6, 140, 140);
    color: #e0883b;
    height: 461px;
    width: 300px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
    user-select: none;
    
    /* color: black; */

}

.product:hover {
    border: 2px solid rgb(112, 16, 208);
    transform: scale(1.05);
    
}
 /* .product:active {
    transform: scale(0.95) rotateZ(1.7deg);
  } */
.product img{
    width: 280px;
    height: 280px;
    border-radius: 5%;
}

.product .quantity-button{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 6px;

}


.product .prices{
  display: flex;
  justify-content: space-around;
}


.product .price {
font-style: italic;
}

.product .total{
  font-weight: 600;
  font-size: 16px;
  color: orange;
}

.product .price span{
  font-style: italic;
  display: block;
  }
  
  .product .total span{
    font-weight: 600;
    font-size: 16px;
    color: orange;
    display: block;
  }



/* From Uiverse.io by satyamchaudharydev */ 
/* inspired form gumroad website */
.product .cart-button {
    --bg: #000;
    --hover-bg: #e090ff;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.4em 1em;
    background: var(--bg);
    transition: 0.2s;
    height: 40px;
    width: 100px;
    margin: 2px;
  }
  
  .product .cart-button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .product .cart-button:active {
    transform: translate(0);
    box-shadow: none;
  }
  




 
  
 